/* ## Colors
### Primary
- Red: hsl(0, 78%, 62%)
- Cyan: hsl(180, 62%, 55%)
- Orange: hsl(34, 97%, 64%)
- Blue: hsl(212, 86%, 64%)

### Neutral
- Very Dark Blue: hsl(234, 12%, 34%)
- Grayish Blue: hsl(229, 6%, 66%)
- Very Light Gray: hsl(0, 0%, 98%)

## Typography
### Body Copy
- Font size: 15px

### Fonts
- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 200, 400, 600 */


/******************************
/* SETUP
/******************************/

/* Box Model Hack */
*, *:before, *:after {
    -moz-box-sizing: border-box;        /* Firefox */
    -webkit-box-sizing: border-box;     /* Safari, Chrome, iOS, Android*/
    box-sizing: border-box;             /* IE */
}

/******************************
/* BASE STYLES
/******************************/

body {
    margin: 0;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

/******************************
/* LAYOUT
/******************************/

.main {
    width: 95%;
    margin: 0 auto;
}

header {
    margin: 50px 0;
    text-align: center;
}

h1 {
    color: hsl(229, 6%, 66%);
    font-size: 25px;
    margin-bottom: 5px;
}

h2 {
    font-size: 25px;
    font-weight: 600;
    color: hsl(234, 12%, 34%);
    margin-top: 0;
}

header p {
    font-size: 17px;
    color: hsl(229, 6%, 66%);
    /* width: 95%; */
    margin: 0 auto;
}

section .block {
    width: 90%;
    padding: 20px 20px 85px 20px;
    /* border: 1px solid rgba(194, 215, 247, 0.2); */
    border-radius: 5px;
    margin: 25px auto;
    /* -moz-box-shadow: 5px 5px 5px hsl(0, 1%, 74%);
    -webkit-box-shadow: 5px 5px 5px hsl(0, 1%, 74%);
    box-shadow: 5px 5px 5px hsl(0, 1%, 74%); */
    
    /* box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
    ; */

    -webkit-box-shadow:0 1px 4px rgba(0, 102, 255, 0.2), 0 0 40px rgba(0, 102, 255, 0.1);
       -moz-box-shadow:0 1px 4px rgba(0, 102, 255, 0.2), 0 0 40px rgba(0, 102, 255, 0.1);
            box-shadow:0 1px 4px rgba(0, 102, 255, 0.2), 0 0 40px rgba(0, 102, 255, 0.1);
}

section .block.cyan {
    border-top: 3px solid hsl(180, 62%, 55%);
}

section .block.red {
    border-top: 3px solid hsl(0, 78%, 62%);
}

section .block.orange {
    border-top: 3px solid hsl(34, 97%, 64%);
}

section .block.blue {
    border-top: 3px solid hsl(212, 86%, 64%);
}

h3 {
    margin-top: 0;
}

.block p {
    color: hsl(229, 6%, 66%);
    text-align: left;
}

/******************************
/* RESPONSIVE DESIGN - 1440px
/******************************/
