/* ##Breakpoints
- Mobile: 375px
- Desktop: 1440px

## Colors
### Primary
- Red: hsl(0, 78%, 62%)
- Cyan: hsl(180, 62%, 55%)
- Orange: hsl(34, 97%, 64%)
- Blue: hsl(212, 86%, 64%)

### Neutral
- Very Dark Blue: hsl(234, 12%, 34%)
- Grayish Blue: hsl(229, 6%, 66%)
- Very Light Gray: hsl(0, 0%, 98%)

## Typography
### Body Copy
- Font size: 16px

### Fonts
- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 200, 400, 600 */


/******************************
/* SETUP
/******************************/

/* Box Model Hack */
*, *:before, *:after {
    -moz-box-sizing: border-box;        /* Firefox */
    -webkit-box-sizing: border-box;     /* Safari, Chrome, iOS, Android*/
    box-sizing: border-box;             /* IE */
}

/******************************
/* BASE STYLES
/******************************/

body {
    margin: 0;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

/******************************
/* LAYOUT
/******************************/

.main {
    width: 95%;
    margin: 0 auto;
}

header {
    margin: 3.125rem 0;
    text-align: center;
}

h1 {
    color: hsl(229, 6%, 66%);
    font-size: 1.5625rem;
    font-weight: 200;
    margin-bottom: 0.3125rem;
}

h2 {
    font-size: 1.5625rem;
    font-weight: 600;
    color: hsl(234, 12%, 34%);
    margin-top: 0;
}

header p {
    font-size: 1.0625rem;
    color: hsl(229, 6%, 66%);
    margin: 0 auto;
}

.cyan, .red, .orange, .blue {
    width: 90%;
    padding: 1.5625rem 1.5625rem 5rem 1.5625rem;
    /* border: 1px solid rgba(194, 215, 247, 0.2); */
    border-radius: 0.3125rem;
    margin: 1.5625rem auto; 
    -webkit-box-shadow: 0 1.125rem 0.625rem -0.3125rem hsla(234, 98%, 19%, 0.07),
                        -0.625rem 0 0.625rem -0.3125rem hsla(234, 98%, 19%, 0.07),
                        0.625rem 0 0.625rem -0.3125rem hsla(234, 98%, 19%, 0.07);
       -moz-box-shadow: 0 1.125rem 0.625rem -0.3125rem hsla(234, 98%, 19%, 0.07),
                        -0.625rem 0 0.625rem -0.3125rem hsla(234, 98%, 19%, 0.07),
                        0.625rem 0 0.625rem -0.3125rem hsla(234, 98%, 19%, 0.07);
            box-shadow: 0 1.125rem 0.625rem -0.3125rem hsla(234, 98%, 19%, 0.07),
                        -0.625rem 0 0.625rem -0.3125rem hsla(234, 98%, 19%, 0.07),
                        0.625rem 0 0.625rem -0.3125rem hsla(234, 98%, 19%, 0.07);
}

section .block.cyan {
    border-top: 0.1875rem solid hsl(180, 62%, 55%);
}

section .block.red {
    border-top: 0.1875rem solid hsl(0, 78%, 62%);
}

section .block.orange {
    border-top: 0.1875rem solid hsl(34, 97%, 64%);
}

section .block.blue {
    border-top: 0.1875rem solid hsl(212, 86%, 64%);
}

section h3 {
    color: hsl(234, 12%, 34%);
    margin-top: 0;
}

.block p {
    font-size: 0.875rem;
    color: hsl(229, 6%, 66%);
    text-align: left;
    line-height: 1.5em;
}

.block img.align-right {
    float: right;
}

footer {
    margin: 2.5rem 0 1.25rem;
}
/******************************
/* RESPONSIVE DESIGN - 1200px
/******************************/

@media (min-width: 1200px) {
    
    header {
        margin: 3.125rem 0 0.625rem;
    }

    h1, h2 {
        font-size: 2.375rem;
    }

    header p {
        margin: 0 16.25rem;
        line-height: 1.7em;
    }

    section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 2.5rem auto;
        padding: 0 3.75rem;        
    }

    section .block {
        width: 20rem;
        height: 13.75rem;
    }

    section .block p {
        font-size: 0.75rem;
    }

    section .cyan {
        padding-bottom: 1.5625rem;
        margin: 10rem 0.9375rem;
    }

    section .blue {
        padding-bottom: 1.5625rem;
        margin: 10rem 0.9375rem;
    }

    section .group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 0.9375rem;
    }

    section .red, section .orange {
        margin: 0.9375rem 0;
    }

    .block img.align-right {
       padding-top: 0.9375rem;
    }
    
    footer {
        margin-top: 5rem;
    }
}



